
<!DOCTYPE html>
<html>
<head th:include="componentes/head :: head"></head>
<body>

<!-- -------------------------------------------------------------- -->

<div th:fragment="ver_paciente">
	<image class="text-center shadow-lg" th:src=" ${usuario.foto.isEmpty()} ? @{/img/hospital.jpg}  :@{/img/}+${foto}" width="200"></image>

	<div class="text-center">

		<table class="table  table-primary table-striped table-hover">
			<h2 class="text-center text-white my-4 fw-bold" th:text="${usuario.nombre} + ' ' + ${usuario.apellido}">
			</h2>
			<thead th:include="componentes/table_head :: th_ver_paciente"></thead>
			<tbody>
				<tr th:each="user : ${usuario}">
					<td th:text="${user.edad}"></td>
					<td th:text="${user.cedula}"></td>
					<td th:text="${user.telefono}"></td>
					<td th:text="${user.direccion}"></td>
					<td th:text="${user.provincia}"></td>
					<td th:text="${user.sexo}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- -------------------------------------------------------------- -->


</body>
</html>