<!DOCTYPE html>
<html>
<head th:insert="~{componentes/head :: head}"></head>
<body>
     
	<footer th:fragment="comp">
	<div class="text-center">
		<img th:src="@{/img/hospital.jpg}" width="80" />
		<p class="text-dark text-center">
			Copyright © 2024 <strong>Luis Aizpurua</strong>. Todos los Derechos Reservados.<br><br>
			Este proyecto tiene como objetivo desarrollar y implementar un sistema integral de registro hospitalario 
			para mejorar la eficiencia en la gestión de pacientes, la precisión en el almacenamiento de datos médicos 
			y la coordinación entre distintos departamentos. La solución propuesta busca cumplir con los estándares regulatorios 
			actuales y optimizar los procesos internos del hospital.<br><br>

			<strong>Términos de Uso • Privacidad • Guías de Marca • Derechos de Privacidad en California</strong>
		</p>
	</div>
	</footer>
</body>
</html>